.App {
  text-align: center;
}

nav {
  display: inline-block;
}

nav ul {

}

nav ul li {
  display: inline-block;
  margin: 10px;
}

aside {
  margin: 0 2rem;
  float: left;
}

article {
  margin: 0 2rem;
  min-height: 400px;
}

#sidebar-slot {
  width:300px;
  height:250px;
  background:url('assets/images/300x250-barilla.webp');
  cursor:pointer;
}

div#header-slot, div#footer-slot {
  margin:0 auto;
  width:728px;
  height:90px;
  cursor:pointer;
}

div#header-slot {
  background:url('assets/images/240_F_326264640_Rx6nxYBAE7RVrAFhsrXuk0c53XwzF5RX.jpg');
}

div#footer-slot {
  background:url('assets/images/72890-footer.jpeg');
}

.pageContainer {
  min-height: 400px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
